body {
    background-color: white;
    margin: 0;
}

#title {
    vertical-align: top;
    margin-bottom: 400px;
}

.piano{
    display: flex;
    align-self: bottom;
    margin-bottom: 30px;;
    justify-content: center;
    align-items: bottom;
}

img {
    height: 352px;
    width: 452px;
    margin-bottom: 70px;
    margin-top: 70px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h5 {
    color: gray;
}

#textcolor1 {
    color: white;
}

#textcolor2 {
    color: #A8C8E4;
}

#textcolor3 {
    color: #9184B4;
}

#textcolor4 {
    color: #E39EBF;
}

.key {
    height: calc(var(--width) );
    width: var(--width);
}

#blue {
    border: 2px solid #A8C8E4;
}

#blueblock {
    background-color: #A8C8E4;
}

#purple {
    border: 2px solid #9184B4;
}
#purpleblock {
    background-color: #9184B4;
}

#pink {
    border: 2px solid #E39EBF;
}

#pinkblock {
    background-color: #E39EBF;
}

.white {
    display: flex;
    width: 56px;
    height: 290px;
    background-color: white;
    justify-content: center;
    align-items: flex-end;
}

.white.active {
    background-color: #E9E9E9;
}

.black {
    display: flex;
    width: 33px;
    height: 190px;
    margin-left: -17px;
    margin-right: -17px;
    z-index: 2;
    justify-content: center;
    align-items: flex-end;   
}


