body {
    margin-top: 20px;
    text-align: center;
    place-content: center;   
}

#contentpage {
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 20px;
    text-align: center;
    place-content: center; 
}

@font-face {
    font-family: 'Voyage';
      src: url('font/Voyage-Regular.woff2') format('woff');
      font-weight: 400;
      font-style: normal;

}

@font-face {
    font-family: 'Love';
      src: url('font/Love-Regular.woff2') format('woff');
      font-weight: 400;
      font-style: normal;

}


li {
    display: inline;
    margin-left: 70px;
    margin-right: 70px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  

li {
    float: none;
}

hr {
    height: 1px;
    background-color: #DDDDDD;
    border: none;
}

#Text {
    font-size: 16px;
    font-family: Futura PT, "Trebuchet MS", Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: normal; 
    line-height: 40px; 
    text-decoration:  none;
} 

#Text:visited {
    color: black;
    text-decoration:  none;
}



#frame1 {
    margin-left: 100px;
    margin-right: 100px;
    height: 95%;
    padding: 70px;
    align-self: center;
    background-color: #E8EDF3;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}

#frame2 {
    padding: 70px;
    align-self: center;
    background-color: #E8EDF3;
    height: 83%;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

#frame3 {
    padding: 70px;
    align-self: center;
    place-content: center;
    background-color: #E8EDF3;
    height: 92%;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

#frame4 {
    padding-left: 70px;
    padding-right: 70px;
    align-self: center;
    place-content: center;
    height: 65%;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}


#ABC {
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}

#p1 {
    align-self: center;
    margin-left: 20px;
    margin-left: 20px;
    background-color: white;
}

#p2 {
    align-self: center;
    margin-left: 20px;
    margin-left: 20px;
    width: 80%;
    background-color: white;
}

#p3 {
    align-self: center;
    margin-left: 20px;
    margin-left: 20px;
    width: 80%;
    background-color: white;
}

div {
    position: center;
    align-self: center;
    margin-top: 40px;

}


header {
    font-size: 25px;
    font-family: Futura PT, "Trebuchet MS", Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    line-height: 20px; 
    margin-top: 20px;
}

#inter {
    font-size: 35px;
    margin-bottom: 40px;
    margin-top: 40px;;
}



#name {
    font-size: 20px;
    font-family: Futura PT, "Trebuchet MS", Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: lighter; 
    line-height: 10px; 
}

#first {
    margin-top: 20px;
    margin-left: 300px;
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button1 {
    border-radius: 70%;
    padding: 20px;
    margin-top: 50px;
    margin-left: 860px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #E8EDF3;
    border: 1.5px solid #567795;
    display: inline-block;
    color: #567795;
    font-family: Futura PT, "Trebuchet MS", Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: lighter; 
    line-height: 20px; 
}
  
  /* On mouse-over */

.button1:hover, .button1:active {
    font-size: 150%;  
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#link1 {
    margin-top: -200px;
}
  

  

img {
    margin-top: 40px;
    position: center;
    width: 900px; 
}

h1 {
    color: #567795;
    max-width: 500px;
    font-size: 150px;
    text-align: center;
    margin-left: 70px;
    margin-top: -120px;
    font-family: "Voyage";
}

#date1 {
    font-size: 25px;
    color: #567795;
    text-align: right;
    margin-right: 120px;
    margin-top: -290px;
    font-family: Futura PT, "Trebuchet MS", Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: lighter; 
    line-height: 20px; 
}


h2 {
    color: #567795;
    max-width: 500px;
    font-size: 70px;
    text-align: left;
    vertical-align: top;
    margin-top: -450px;
    font-family: "Voyage";
}

#second {
    margin-top: 120px;
    margin-left: 400px;
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2 {
    border-radius: 60%;
    padding: 17px;
    margin-top: 150px;
    margin-right: 550px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    background-color: #E8EDF3;
    border: 1.5px solid #567795;
    display: inline-block;
    color: #567795;
    font-family: Futura PT, "Trebuchet MS", Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: lighter; 
    line-height: 20px; 
}
  
  /* On mouse-over */

.button2:hover, .button2:active {
    font-size: 150%; 
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#date2 {
    font-size: 25px;
    color: #567795;
    text-align: left;
    margin-top: -20px;
    font-family: Futura PT, "Trebuchet MS", Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: lighter; 
    line-height: 20px; 
}


h3 {
    color: #567795;
    place-self: center;
    font-size: 100px;
    margin-top: -700px;
    font-family: "Voyage";
}

#third { 
    margin-top: 220px;
    bottom:30px;
    width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button3 {
    border-radius: 50%;
    padding: 15px;
    margin-top: -50px;
    margin-left: 900px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    background-color: #E8EDF3;
    border: 1.5px solid #567795;
    display: inline-block;
    color: #567795;
    color: inherit;
    font-family: Futura PT, "Trebuchet MS", Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: lighter; 
    line-height: 20px; 
}

a:link {
    color: #567795;
    color: inherit;
    text-decoration:  none;
}

a:visited {
    color: #567795;
    text-decoration:  none;
}
  
  /* On mouse-over */

.button3:hover, .button3:active {
    font-size: 150%;  
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#date3 {
    font-size: 25px;
    color: #567795;
    text-align: left;
    margin-top: -270px;
    font-family: Futura PT, "Trebuchet MS", Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: lighter; 
    line-height: 20px; 
}

#arrow2 {
    width: 75px;
    margin-top: -50px;
    margin-left: 420px;
}

#arrow3 {
    width: 75px;
    margin-top: -42px;
    margin-right: 1000px;
}

#arrow4 {
    width: 75px;
    margin-top: -42px;
    margin-left: 455px;
}


#p1 {
    place-self: center;
    align-self: center;
    margin-left: 20px;
    margin-left: 20px;
    background-color: white;
}

#largetext {
    text-align: left;
    font-size: 144px;
    font-family: "Voyage";
    line-height: 170px;
    color: #567795;   
}

#dates {
    font-size: 25px;
    color: #567795;
    text-align: right;
    margin-right: -30px;
    margin-top: -290px;
    font-family: Futura PT, "Trebuchet MS", Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: lighter; 
    line-height: 20px; 
}

#arrow5 {
    transform: rotate(90deg);
    width: 75px;
    margin-top: -42px;
    margin-left: 455px;
}